@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  scroll-behavior: smooth;
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

body {
  font-family: "Open Sans", sans-serif;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

.header {
  height: 115vh;
  /* 02 */
  background-image: linear-gradient(to top,rgba(200, 140, 180, 0.486) 0%,rgba(195, 122, 168, 0.514) 100%),url(../img/woman.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.head {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.hamburguer {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #fbc2eb7c;
  width: 55px;
  height: 50px;
  cursor: pointer;
  padding-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.menu-navegacion {
  position: fixed;
  top: 0;
  width: 30vw;
  height: 100%;
  /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0ee 100%); */
  /* 02 */
  /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
  /* 028 */
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  right: 0;
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.spread {
  transform: translateX(0);
}

.menu-navegacion a {
  color: #fff;
  text-decoration: none;
}

.titulo {
  font-size: 60px;
  margin-bottom: 15px;
}

.copy {
  font-weight: 300;
  font-size: 25px;
}

/* Services */

.subtitulo {
  color: #9f8ad0;
  font-size: 40px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
}

.contenedor-servicio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-servicio img {
  width: 40%;
}

.checklist-servicio {
  width: 45%;
}

.service {
  margin-bottom: 20px;
}

.n-service {
  margin-bottom: 7px;
  color: #9f8ad0;
}

.number {
  display: inline-block;
  /* 02 */
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  color: #fff;
  font-weight: 700;
}

/* Gallery */

.gallery {
  background: #f2f2f2;
}

.contenedor-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.img-galeria {
  width: 30%;
  display: block;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.imagen-light {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.534);
  transform: translate(100%);
  transition: transform 0.2s ease-in-out;
  z-index: 150;
}

.agregar-imagen {
  width: 50%;
  transform: scale(0);
  border-radius: 10px;
  transition: transform 0.3s 0.2s;
}

.showImage {
  transform: scale(1);
}

.show {
  transform: translate(0);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;
  z-index: 1000;
}

/* INFORMATION  */

.information-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.information-img {
  width: 35%;
}

.information-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  align-items: center;
}

/*         CONTACT          */

.title {
  margin: 0;
}

:focus {
  outline: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.inner {
  max-width: 758px;
  margin: auto;
  background: #735d78;
  border: 10px solid #fff8;
  padding: 77px 99px 87px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

/* textarea {
    resize: none;
  } */

.h3 {
  text-transform: uppercase;
  font-size: 45px;
  font-family: "Montserrat-Bold";
  text-align: center;
  margin-bottom: 12px;
  color: #fff;
}

.paragraph {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 55px;
  line-height: 1.8;
  color: #fff;
}

.form-group {
  position: relative;
  display: block;
  margin-bottom: 48px;
  font-family: "Montserrat-Regular";
  color: #fff;
  font-size: 15px;
}
.form-group span {
  font-size: 15px;
  color: #fff;
  position: absolute;
  top: 11px;
  transition: all 0.2s ease;
  transform-origin: 0 0;
  cursor: text;
}
.form-group span.border {
  height: 2px;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 41px;
  transform: scaleX(0);
  transition: all 0.15s ease;
  background: #fff;
}

.form-control {
  border: none;
  border-bottom: 2px solid #fff;
  display: block;
  width: 100%;
  height: 43px;
  font-size: 15px;
  background: none;
  font-family: "Montserrat-SemiBold";
}

/* .form-control:focus,
  .form-control:valid {
    border-bottom: 2px solid #fff;
  }
  
  .form-control:focus + span,
  .form-control:valid + span {
    transform: translateY(-22px) scale(0.8);
  }
  .form-control:focus + span + .border,
  .form-control:valid + span + .border {
    transform: scaleX(1);
  } */

textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  border: none;
  width: 162px;
  height: 51px;
  border: 2px solid #fff;
  margin: auto;
  margin-top: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat-SemiBold";
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* button i {
      margin-left: 10px;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-transition-duration: 0.1s;
      transition-duration: 0.1s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
    button:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #2098D1;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
    button:hover {
      border-color: transparent; }
      button:hover:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
      button:hover i {
        -webkit-transform: translateX(4px);
        transform: translateX(4px); } */

/* FOOTER */

footer {
  background: #f2f2f2;
  padding-bottom: 0.1px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}

.contact-us {
  width: 40%;
  color: #667eea;
}

.brand {
  font-weight: 500;
  font-size: 40px;
}

.brand + p {
  font-weight: 500;
}

.social-media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #667eea;
  border-radius: 50%;
  text-align: center;
  color: #667eea;
}

.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}

.line {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  height: 2px;
  background: #667eea;
  margin-bottom: 60px;
}

.social-media-icon:hover {
  background: #667eea;
  color: #f2f2f2;
}


/* MEDIA QUERIES*/


@media screen and (max-width: 800px) {
  .menu-navegacion {
    width: 50vw;
  }

  .titulo {
    font-size: 40px;
  }

  .contenedor-servicio img {
    width: 80%;
    margin-bottom: 40px;
  }

  .checklist-servicio {
    width: 80%;
  }

  .service {
    margin-bottom: 30px;
  }

  .img-galeria {
    width: 45%;
  }

  .agregarImagen {
    width: 80%;
  }

  .cont-expert {
    width: 80%;
  }

  .footer-content {
    justify-content: center;
  }

  .social-media {
    width: 80%;
    justify-content: space-evenly;
  }

  .social-media-icon {
    margin-left: 0;
  }

  .contact-us {
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
  }

  .contact-container {
    grid-template-columns: minmax(200px, 660px);
    grid-template-rows: 0.2fr 0.4fr;
  }

  .card {
    order: 1;
    flex-direction: row;
  }

  .card-img {
    width: 30%;
    flex-shrink: 0;
  }

  .card-content {
    flex-shrink: 3;
    flex-basis: 100px;
    font-size: 1rem;
  }

  form {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    order: 2;
  }

  .input {
    padding: 0.35em;
    margin: 5px;
  }

  .submit {
    padding: 0.35em;
    margin: 20px 10px 5px 10px;
  }
}

@media (max-width: 800px) {
  .h3 {
    font-size: 38px;
  }

  .paragraph {
    font-size: 14px;
    padding: 0;
  }

  .inner {
    padding: 27px 20px 37px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
  }

  .wrapper {
    background: #735d78;
    border: 10px solid #fff8;
  }
}

@media screen and (max-width: 500px) {
  .menu-navegacion {
    width: 65vw;
  }

  .hamburguer {
    top: 20px;
    right: 20px;
  }

  .titulo {
    font-size: 30px;
  }

  .subtitulo {
    font-size: 30px;
  }

  .img-galeria {
    width: 95%;
  }

  .agregar-imagen {
    width: 90%;
  }

  .social-media {
    width: 100%;
    justify-content: space-evenly;
  }

  .social-media-icon {
    margin-left: 0;
  }

  .contact-us {
    text-align: center;
    width: 95%;
    margin-bottom: 40px;
  }

  .card {
    flex-direction: column;
  }
}
